<%- include('templates/head', {title: "Writeups" }) %>

    <body>
        <%- include('templates/header') %>

            <div class="main-container">
                <% if(locals.session){ %>
                    <!-- LOGGED IN -->

                    <div class="main-content-container">
                        <div class='main-cont-inner-wrapper'>
                            <div class="inner-inner">
                                <div class='tab'>
                                    <button class='tablinks' onclick='openTab(event, "viewWriteups")'>View all
                                        writeups</button>
                                    <button class='tablinks' onclick='openTab(event, "createNewWriteup")'>Create new
                                        writeup</button>
                                </div>
                                <div class="inner-inner-inner">
                                    <div id='createNewWriteup' class='tabcontent'>
                                        <div class="create-new-post">
                                            <h1>Create a new writeup</h1>
                                            <form action="/createWriteup" method="POST">
                                                <input type="text" name="title" maxlength='100'
                                                    placeholder="Title (Max 100 Characters)" required>
                                                <textarea name="content" placeholder="Writeup (Max 20000 Characters)"
                                                    maxlength='20000' rows='20' required></textarea>
                                                <input type="submit" value="Post">
                                            </form>
                                        </div>
                                    </div>
                                    <div id='viewWriteups' class='tabcontent'>
                                        <div class="view-write">
                                            <h1>All writeups:</h1>
                                            <%- include("templates/writeup.ejs") %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <% } else { %>
                            <div class="not-allowed-div">
                                <img src="img/cat-magic-carpet-bed.gif" height='20%' draggable='false' alt="">
                                <h1>Please login or create an account to view the writeups!</h1>
                                <a id='signupButton' href="/" draggable='false'>Signup/Login</a>
                            </div>
                            <% } %>

                    </div>
                    <script>

                        // Call the function after the page is fully loaded
                        window.addEventListener('load', function () {
                            document.getElementById("viewWriteups").style.display = "block";
                            evt.currentTarget.className += " active";
                        });

                        function openTab(evt, tabName) {
                            // Declare all variables
                            var i, tabcontent, tablinks;

                            // Get all elements with class="tabcontent" and hide them
                            tabcontent = document.getElementsByClassName("tabcontent");
                            for (i = 0; i < tabcontent.length; i++) {
                                tabcontent[i].style.display = "none";
                            }

                            // Get all elements with class="tablinks" and remove the class "active"
                            tablinks = document.getElementsByClassName("tablinks");
                            for (i = 0; i < tablinks.length; i++) {
                                tablinks[i].className = tablinks[i].className.replace(" active", "");
                            }

                            // Show the current tab, and add an "active" class to the button that opened the tab
                            document.getElementById(tabName).style.display = "block";
                            evt.currentTarget.className += " active";

                            const textarea = document.querySelector('textarea');
                            const input = document.querySelector('input[type="text"]');
                            textarea.addEventListener("input", function () {
                                this.style.height = 'auto';
                                this.style.height = (this.scrollHeight + 2) + 'px';
                            });
                            input.addEventListener("keydown", function (e) {
                                if (e.key === 'Enter') {
                                    e.preventDefault();
                                }
                            });
                        }

                    </script>
        <%- include('templates/footer.ejs') %>
