<footer>
        <p id='main-highlight2'>&lt;/ &copy; 2024 0xZenith Writeups &gt;</p>
        <% if(locals.session) { %>
        <a href="/logout">Click here to log out</a>
        <% } %>
</footer>
</body>

</html>