<footer>
        <p id='main-highlight2'>&lt;/ &copy; 2024 0xZenith Writeups &gt;</p>
        <% if(locals.session){ %>
            <form action="/logout" id='logoutForm' method="POST">
                <input type="submit" value="Logout">
            </form>
            <% } %>
</footer>
</body>

</html>