@import url("fonts/OTF/FantasqueSansMono-Regular.otf");

$main-color: #000000;
$main-color-light: #333;
$secondary-color: rgb(0, 221, 255);
$tertiary-color: #00ff15;
$quaternary-color: #ff00e1;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Fantasque Sans Mono", monospace;
}

:root {
    --size: 2;
    --color: rgb(170, 255, 41);
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cmd-terminal-container{
    width: 100%;
}

#main-highlight {
    color: $tertiary-color;
    text-shadow: 0px 0px 4px $tertiary-color;
}

#main-highlight2 {
    color: $quaternary-color;
    text-shadow: 0px 0px 4px $quaternary-color;
}

::selection {
    background: $quaternary-color;
    color: white;
}

::moz-selection {
    background: $quaternary-color;
    color: white;
}

#animated-border{
    padding: 10px 20px;
    border: 2px solid rgb(28, 28, 77);
    border-radius: 20px;
    animation: MovingBorderAnimation 15s linear infinite;
}

#animated-border-bottom{
    padding: 10px 20px;
    border-bottom: 2px solid rgb(28, 28, 77);
    border-radius: 20px;
    animation: MovingBorderAnimationBottom 15s linear infinite;
}

body {
    background-color: $main-color;
    width: 75dvw;
    margin: auto;
    .main-header {
        nav {
            ul {
                display: flex;
                justify-content: space-around;
                list-style: none;
                padding: 20px;
                border-bottom: 2px solid $secondary-color;
                border-radius: 5px;
                box-shadow: 0 4px 4px -3px $secondary-color;

                li {
                    a{
                        text-decoration: none;
                        color: white;
                        transition-duration: 0.3s;
                    }

                    a:hover {
                        color: $secondary-color;
                    }
                }

            }
        }
    }

    .main-container {
        @include flexCenter;
        flex-direction: column;
        color: $secondary-color;
        text-shadow: 0px 0px 4px $secondary-color;
        height: 100vh;
    }
}

footer {
    position: static;
    bottom: 0;
    width: 75dvw;
    background: $main-color;
    color: white;
    text-align: center;
    padding: 10px;
}

@keyframes MovingBorderAnimation {
    0% {
        border: 2px solid $quaternary-color;
    }

    20% {
        border: 2px solid complement($quaternary-color);
    }

    40% {
        border: 2px solid rgb(0, 247, 0);
    }

    60% {
        border: 2px solid  $secondary-color;
    }

    80% {
        border: 2px solid  $tertiary-color;
    }

    100% {
        border: 2px solid $quaternary-color;
    }
}
@keyframes MovingBorderAnimationBottom {
    0% {
        border-bottom: 2px solid $quaternary-color;
    }

    20% {
        border-bottom: 2px solid complement($quaternary-color);
    }

    40% {
        border-bottom: 2px solid rgb(0, 247, 0);
    }

    60% {
        border-bottom: 2px solid  $secondary-color;
    }

    80% {
        border-bottom: 2px solid  $tertiary-color;
    }

    100% {
        border-bottom: 2px solid $quaternary-color;
    }
}