@import url("fonts/OTF/FantasqueSansMono-Regular.otf");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Fantasque Sans Mono", monospace;
}

:root {
  --size: 2;
  --color: rgb(170, 255, 41);
}

.cmd-terminal-container {
  width: 100%;
}

#main-highlight {
  color: #00ff15;
  text-shadow: 0px 0px 4px #00ff15;
}

#signupButton {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #b60000;
  color: #b60000;
  transition-duration: 0.3s;
  text-shadow: 0px 0px 4px #b60000;
}

#signupButton:hover {
  background: #b60000;
  color: white;
}

#main-highlight2 {
  color: #ff1d1d;
  text-shadow: 0px 0px 4px #ff1d1d;
}

::-moz-selection {
  background: #ff1d1d;
  color: white;
}

::selection {
  background: #ff1d1d;
  color: white;
}

::moz-selection {
  background: #ff1d1d;
  color: white;
}

#animated-border {
  padding: 10px 20px;
  border: 2px solid rgb(28, 28, 77);
  border-radius: 20px;
  animation: MovingBorderAnimation 15s linear infinite;
}

#artwork {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-family: Consolas, monospace;
  font-size: 0.5rem;
  white-space: pre;
  z-index: 100;
  height: 30%;
  width: 50%;
  min-width: 50%;
  min-height: 30%;
}

.artwork-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 20px;
}

#createNewWriteup, #viewWriteups {
  width: 100%;
}

#animated-border-bottom {
  padding: 10px 20px;
  border-bottom: 2px solid rgb(28, 28, 77);
  border-radius: 20px;
  animation: MovingBorderAnimationBottom 15s linear infinite;
}

#delete-writeup {
  position: relative;
  z-index: 10;
}

#welcomeText {
  font-size: 2rem;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #b60000;
  text-shadow: 0px 0px 4px #b60000;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #e90000;
  transition-duration: 0.3s;
}

img {
  height: auto;
}

.all-writeup-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  margin-top: 20px;
  width: 100%;
  overflow: auto;
}
.all-writeup-wrapper form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.latest-writeups {
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.writeup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #b60000;
  text-shadow: 0px 0px 4px #b60000;
  width: 90%;
  margin: 10px;
  border: 2px solid #b60000;
  border-radius: 10px;
  transition-duration: 0.4s;
}
.writeup h2 {
  padding: 20px;
}

.main-fullview-container {
  max-height: 80%;
  width: 100%;
}

.fullview-writeup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #b60000;
  width: 100%;
  /* Remove max-height to allow the container to expand based on content */
  /* max-height: 90%; */
  overflow: auto;
  /* Use auto to only show scrollbar when necessary */
  overflow-x: hidden;
  /* Scroll */
  scrollbar-width: thin;
  scrollbar-color: #ff1d1d #000000;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px #ff1d1d;
  transition-duration: 0.4s;
}
.fullview-writeup .fullview-writeup-inner {
  padding: 30px;
}
.fullview-writeup .fullview-writeup-inner h2 {
  padding: 20px;
  margin-top: 20px;
}
.fullview-writeup .fullview-writeup-inner p {
  padding: 20px;
  margin: 10px;
}

.backhometowriteups {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #b60000;
  text-shadow: 0px 0px 4px #ff1d1d;
  width: 90%;
  margin: 10px;
  border-radius: 10px;
  justify-content: left;
  align-items: start;
}
.backhometowriteups a {
  padding: 20px;
  color: #ff1d1d;
  text-shadow: 0px 0px 4px #ff1d1d;
  transition-duration: 0.3s;
  border: 1px solid #ff1d1d;
  border-radius: 5px;
}
.backhometowriteups a:hover {
  background: #ff1d1d;
  color: white;
  scale: 1.1;
}

.writeup:hover {
  border: 2px solid #ff1d1d;
  cursor: pointer;
  scale: 1.05;
}

.writeup-footer {
  color: #ff1d1d;
  text-shadow: 0px 0px 4px #ff1d1d;
  text-align: center;
  padding: 10px;
}
.writeup-footer form input[type=submit] {
  padding: 10px 20px;
  background: none;
  color: white;
  border: 2px solid #ff1d1d;
  border-radius: 10px;
  transition-duration: 0.4s;
}
.writeup-footer form input[type=submit]:hover {
  color: white;
  scale: 1.05;
  border: 2px solid #b60000;
  cursor: pointer;
}

.not-allowed-div {
  background: #000000;
  color: #e90000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px #e90000;
  transition-duration: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.not-allowed-div a {
  text-decoration: none;
  color: #b60000;
  transition-duration: 0.3s;
  text-shadow: none;
}

body {
  background-color: #000000;
  width: 75dvw;
  margin: auto;
}
body .main-header {
  position: fixed;
  width: 75dvw;
  background: rgba(8, 8, 8, 0.685);
}
body .main-header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 20px;
  border-bottom: 2px solid #e90000;
  border-left: 2px solid #e90000;
  border-right: 2px solid #e90000;
  border-radius: 5px;
  box-shadow: 0 4px 4px -3px #e90000;
}
body .main-header nav ul li a {
  text-decoration: none;
  color: white;
  transition-duration: 0.3s;
}
body .main-header nav ul li a:hover {
  color: #e90000;
}
body .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #e90000;
  height: 100vh;
}
body .main-container .main-content-container {
  display: flex;
  justify-content: start;
  align-self: center;
  writing-mode: horizontal-tb;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
body .main-container .main-content-container .main-cont-inner-wrapper {
  margin-top: 80px;
  background: #272727;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px #e90000;
}
body .main-container .main-content-container .main-cont-inner-wrapper .inner-inner {
  margin: 20px;
  display: flex;
  flex-direction: column;
  background: #0e0e0e;
  /* Style the buttons that are used to open the tab content */
}
body .main-container .main-content-container .main-cont-inner-wrapper .inner-inner .tab {
  overflow: hidden;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body .main-container .main-content-container .main-cont-inner-wrapper .inner-inner .tab button {
  background-color: inherit;
  float: left;
  width: 100%;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border: 1px solid #b60000;
}
body .main-container .main-content-container .main-cont-inner-wrapper .inner-inner .tab button:hover {
  background-color: #b60000;
}
body .main-container .main-content-container .main-cont-inner-wrapper .inner-inner .tab button.active {
  background-color: #b60000;
}
body .main-container .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner {
  margin: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
body .main-container .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner .tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  animation: fadeEffect 1s;
}
body .main-container .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner .create-new-post {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
body .main-container .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner .create-new-post input {
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #e90000;
  background: #000000;
  color: white;
  text-align: left;
}
body .main-container .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner .create-new-post textarea {
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #e90000;
  background: #000000;
  color: white;
  text-align: left;
  max-width: 80%;
  min-width: 30%;
  min-height: 20%;
  max-height: 700px;
}
body .main-container .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner .create-new-post button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #b60000;
  color: #b60000;
  transition-duration: 0.3s;
  text-shadow: 0px 0px 4px #b60000;
}
body .main-container .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner .create-new-post button:hover {
  background: #b60000;
  color: white;
}
body .main-container .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner .create-new-post form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .main-container .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner .create-new-post form input[type=submit] {
  padding: 10px 20px;
  width: 10%;
  border: 2px solid #b60000;
  color: #b60000;
  transition-duration: 0.3s;
  text-shadow: 0px 0px 4px #b60000;
}
body .main-container .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner .create-new-post form input[type=submit]:hover {
  border: 2px solid #ff1d1d;
  color: white;
  scale: 1.1;
  cursor: pointer;
}
body .main-container-terminal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #e90000;
  height: 100vh;
  justify-content: start;
}
body .main-container-terminal .main-content-container {
  display: flex;
  justify-content: start;
  align-self: flex-start;
  writing-mode: horizontal-tb;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
body .main-container-terminal .main-content-container .main-cont-inner-wrapper {
  margin-top: 80px;
  background: #272727;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px #e90000;
}
body .main-container-terminal .main-content-container .main-cont-inner-wrapper .inner-inner {
  margin: 20px;
  display: flex;
  flex-direction: column;
  background: #0e0e0e;
  /* Style the buttons that are used to open the tab content */
  /* Change background color of buttons on hover */
  /* Create an active/current tablink class */
}
body .main-container-terminal .main-content-container .main-cont-inner-wrapper .inner-inner .tab {
  overflow: hidden;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body .main-container-terminal .main-content-container .main-cont-inner-wrapper .inner-inner .tab button {
  background-color: inherit;
  float: left;
  width: 100%;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border: 1px solid #b60000;
}
body .main-container-terminal .main-content-container .main-cont-inner-wrapper .inner-inner .tab button:hover {
  background-color: #b60000;
}
body .main-container-terminal .main-content-container .main-cont-inner-wrapper .inner-inner .tab button.active {
  background-color: #b60000;
}
body .main-container-terminal .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner {
  margin: 50px;
  display: flex;
  flex-direction: column;
}
body .main-container-terminal .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner .tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  animation: fadeEffect 1s;
}
body .main-container-terminal .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner .create-new-post {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
body .main-container-terminal .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner .create-new-post input {
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #e90000;
  background: #000000;
  color: white;
  text-align: left;
}
body .main-container-terminal .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner .create-new-post textarea {
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #e90000;
  background: #000000;
  color: white;
  text-align: left;
  max-width: 80%;
  min-width: 30%;
  min-height: 20%;
  max-height: 700px;
}
body .main-container-terminal .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner .create-new-post button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #b60000;
  color: #b60000;
  transition-duration: 0.3s;
  text-shadow: 0px 0px 4px #b60000;
}
body .main-container-terminal .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner .create-new-post button:hover {
  background: #b60000;
  color: white;
}
body .main-container-terminal .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner .create-new-post form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .create-account,
body .login {
  background: rgb(0, 0, 0);
  padding: 20px;
  width: 30vw;
  border-radius: 10px;
  height: 50vh;
  box-shadow: 0 0 10px 3px #e90000;
  transition-duration: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .create-account form,
body .login form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
body .create-account form input,
body .login form input {
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #e90000;
  background: #000000;
  color: white;
  text-align: center;
  transition-duration: 0.4s;
}
body .create-account form input:focus,
body .login form input:focus {
  border: 1px solid #ff1d1d;
  /* Assuming $quaternary-color is a variable holding the desired color */
  scale: 1.04;
}
body .create-account form input[type=submit],
body .login form input[type=submit] {
  width: 30%;
}
body .create-account form input[type=submit]:hover,
body .login form input[type=submit]:hover {
  border: 1px solid #ff1d1d;
  color: white;
  scale: 1.1;
  cursor: pointer;
}
body .create-account a,
body .login a {
  text-decoration: none;
  color: #b60000;
  transition-duration: 0.3s;
  text-shadow: none;
}
body .create-account:hover,
body .login:hover {
  box-shadow: 0 0 10px 10px #ff1d1d;
}

footer {
  position: fixed;
  bottom: 0;
  width: 75dvw;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}
footer #logoutForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer #logoutForm input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #e90000;
  background: #000000;
  color: white;
  text-align: center;
  transition-duration: 0.4s;
}
footer #logoutForm input:hover {
  border: 1px solid #ff1d1d;
  scale: 1.1;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  body {
    width: 100vw;
  }
  body .main-header {
    position: fixed;
    width: 100vw;
  }
  .main-container .main-content-container .main-cont-inner-wrapper .inner-inner .inner-inner-inner .create-new-post input {
    width: 100%;
  }
  .main-container .create-account,
  .main-container .login {
    width: 80vw;
  }
  .main-container .create-account form,
  .main-container .login form {
    text-align: center;
  }
  .main-container .create-account form input,
  .main-container .login form input {
    width: 100%;
  }
  .main-container .create-account form p,
  .main-container .login form p {
    font-size: 1.1rem;
  }
  .create-account,
  .login {
    width: 80vw;
  }
  footer {
    width: 100vw;
    text-align: center;
  }
  .not-allowed-div {
    width: 80vw;
    text-align: center;
  }
  #terminal-li {
    display: none;
  }
}
@keyframes MovingBorderAnimation {
  0% {
    border: 2px solid #ff1d1d;
  }
  20% {
    border: 2px solid #1dffff;
  }
  40% {
    border: 2px solid rgb(0, 247, 0);
  }
  60% {
    border: 2px solid #e90000;
  }
  80% {
    border: 2px solid #00ff15;
  }
  100% {
    border: 2px solid #ff1d1d;
  }
}
@keyframes MovingBorderAnimationBottom {
  0% {
    border-bottom: 2px solid #ff1d1d;
  }
  20% {
    border-bottom: 2px solid #1dffff;
  }
  40% {
    border-bottom: 2px solid rgb(0, 247, 0);
  }
  60% {
    border-bottom: 2px solid #e90000;
  }
  80% {
    border-bottom: 2px solid #00ff15;
  }
  100% {
    border-bottom: 2px solid #ff1d1d;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */