@import url("fonts/OTF/FantasqueSansMono-Regular.otf");

$main-color: #000000;
$main-color-light: #272727;
$secondary-color: #e90000;
$tertiary-color: #00ff15;
$quaternary-color: lighten($secondary-color, 10%);
// $quinary-color: #001277;
$quinary-color: darken($secondary-color, 10%);
$senary-color: #24243e;

// $main-color: #ffffff;
// $main-color-light: #ffffff;
// $secondary-color: #000000;
// $tertiary-color: #00ff15;
// $quaternary-color: lighten($secondary-color, 10%);
// // $quinary-color: #001277;
// $quinary-color: darken($secondary-color, 10%);
// $senary-color: #e1e1eb;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Fantasque Sans Mono", monospace;
}

:root {
    --size: 2;
    --color: rgb(170, 255, 41);
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cmd-terminal-container {
    width: 100%;
}

#main-highlight {
    color: $tertiary-color;
    text-shadow: 0px 0px 4px $tertiary-color;
}

#signupButton {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid $quinary-color;
    color: $quinary-color;
    transition-duration: 0.3s;
    text-shadow: 0px 0px 4px $quinary-color;
}

#signupButton:hover {
    background: $quinary-color;
    color: white;
}

#main-highlight2 {
    color: $quaternary-color;
    text-shadow: 0px 0px 4px $quaternary-color;
}

::selection {
    background: $quaternary-color;
    color: white;
}

::moz-selection {
    background: $quaternary-color;
    color: white;
}

#animated-border {
    padding: 10px 20px;
    border: 2px solid rgb(28, 28, 77);
    border-radius: 20px;
    animation: MovingBorderAnimation 15s linear infinite;
}

#artwork {
    @include flexCenter;
    justify-content: center;
    align-items: center;
    font-family: Consolas, monospace;
    font-size: 0.5rem;
    white-space: pre;
    z-index: 100;
    height: 30%;
    width: 50%;
    min-width: 50%;
    min-height: 30%;
}

.artwork-wrapper {
    @include flexCenter;
    height: 100px;
    width: 100%;
    margin: 20px;
}

.centered-image {
    display: block;
    margin: 0 auto;
}

#createNewWriteup,
#viewWriteups {
    width: 100%;
}

#animated-border-bottom {
    padding: 10px 20px;
    border-bottom: 2px solid rgb(28, 28, 77);
    border-radius: 20px;
    animation: MovingBorderAnimationBottom 15s linear infinite;
}

#delete-writeup {
    position: relative;
    z-index: 10;
}

#welcomeText {
    font-size: 2rem;
    width: 100%;
    height: 40px;
    text-align: center;
    color: $quinary-color;
    text-shadow: 0px 0px 4px $quinary-color;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: $secondary-color;
    transition-duration: 0.3s;
}

img {
    height: auto;
}

.all-writeup-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    margin-top: 20px;
    width: 100%;
    overflow: auto;

    form {
        @include flexCenter;
        flex-direction: column;
        width: 100%;
    }
}

.latest-writeups {
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}



.main-fullview-container {
    max-height: 80%;
    width: 100%;
}

.fullview-writeup {
    @include flexCenter;
    flex-direction: column;
    color: $quinary-color;
    width: 100%;
    /* Remove max-height to allow the container to expand based on content */
    /* max-height: 90%; */
    overflow: auto;
    /* Use auto to only show scrollbar when necessary */
    overflow-x: hidden;
    /* Scroll */
    scrollbar-width: thin;
    scrollbar-color: $quaternary-color $main-color;

    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px $quaternary-color;
    transition-duration: 0.4s;

    .fullview-writeup-inner {
        width: 90%;
        display: inline-block;
        max-width: 90%;
        text-wrap: wrap;
        padding: 30px;
        color: white;
        font-size: 1.2rem;

        h2,
        p {
            width: 100%;
            overflow-wrap: break-word;
            color: white;
        }

        h2 {
            padding: 20px;
            margin-top: 20px;
        }

        p {
            padding: 20px;
            margin: 10px
        }

        img{
            transition-duration: 0.4s;
            border-radius: 20px;
        }
        img:hover{
            cursor: pointer;
            scale: 1.1;
        }

        form{
            @include flexCenter();
            flex-direction: column;
            width: 100%;
            input{
                width: 50%;
                padding: 10px;
                margin: 10px;
                font-size: 1.2rem;
                border-radius: 5px;
                border: 1px solid $secondary-color;
                background: $main-color;
                color: white;
                text-align: center;
                transition-duration: 0.4s;
            }

            input[type="submit"] {
                padding: 10px 20px;
                background: none;
                color: white;
                border: 2px solid $quaternary-color;
                border-radius: 10px;
                transition-duration: 0.4s;

                &:hover {
                    background: $quaternary-color;
                    color: white;
                    scale: 1.1;
                }
            }

            textarea{
                width: 80%;
                padding: 10px;
                margin: 10px;
                border-radius: 5px;
                border: 1px solid $secondary-color;
                background: $main-color;
                color: white;
                text-align: left;
                transition-duration: 0.4s;
                max-width: 80%;
                min-width: 30%;
            }
        }
    }

}

.backhometowriteups {
    @include flexCenter;
    flex-direction: column;
    color: $quinary-color;
    text-shadow: 0px 0px 4px $quaternary-color;
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    justify-content: left;
    align-items: start;

    a {
        padding: 20px;
        color: $quaternary-color;
        text-shadow: 0px 0px 4px $quaternary-color;
        transition-duration: 0.3s;
        border: 1px solid $quaternary-color;
        border-radius: 5px;

        &:hover {
            background: $quaternary-color;
            color: white;
            scale: 1.1;
        }
    }
}

.writeup {
    @include flexCenter;
    flex-direction: column;
    text-shadow: 0px 0px 4px $quinary-color;
    width: 90%;
    margin: 10px;
    border: 2px solid $quinary-color;
    border-radius: 10px;
    transition-duration: 0.4s;
    color: white;

    h2 {
        padding: 20px;
    }
}

.writeup:hover {
    border: 2px solid $secondary-color;
    box-shadow: 0 0 10px 3px $secondary-color;
    rotate: 2deg;
    cursor: pointer;
    scale: 1.05;
}

.writeup-footer {
    color: $quaternary-color;
    text-shadow: 0px 0px 4px $quaternary-color;
    text-align: center;
    padding: 10px;

    form {
        input[type="submit"] {
            padding: 10px 20px;
            background: none;
            color: white;
            border: 2px solid $quaternary-color;
            border-radius: 10px;
            transition-duration: 0.4s;

            &:hover {
                color: white;
                scale: 1.05;
                border: 2px solid $quinary-color;
                cursor: pointer;
            }
        }
    }
}

.not-allowed-div {
    background: $main-color;
    color: $secondary-color;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px $secondary-color;
    transition-duration: 0.4s;
    @include flexCenter;
    flex-direction: column;

    a {
        text-decoration: none;
        color: $quinary-color;
        transition-duration: 0.3s;
        text-shadow: none;
    }

}

body {
    background-color: $main-color;
    width: 75dvw;
    margin: auto;

    .main-header {
        position: fixed;
        width: 75dvw;
        background: rgba(8, 8, 8, 0.685);

        nav {
            ul {
                display: flex;
                justify-content: space-around;
                list-style: none;
                padding: 20px;
                border-bottom: 2px solid $secondary-color;
                border-left: 2px solid $secondary-color;
                border-right: 2px solid $secondary-color;
                border-radius: 5px;
                box-shadow: 0 4px 4px -3px $secondary-color;

                li {
                    a {
                        text-decoration: none;
                        color: white;
                        transition-duration: 0.3s;
                    }

                    a:hover {
                        color: $secondary-color;
                    }
                }

            }
        }
    }

    .main-container {
        @include flexCenter;
        flex-direction: column;
        color: white;
        height: 100dvh;

        // Main content when user is logged in
        .main-content-container {
            display: flex;
            justify-content: start;
            align-self: center;
            // Still make the text be written from left to right
            writing-mode: horizontal-tb;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .main-cont-inner-wrapper {
                margin-top: 80px;
                background: $main-color-light;
                border-radius: 5px;
                box-shadow: 0 0 10px 3px $secondary-color;

                .inner-inner {
                    margin: 20px;
                    display: flex;
                    flex-direction: column;
                    background: darken($color: $main-color-light, $amount: 10);

                    .tab {
                        overflow: hidden;
                        background-color: darken($main-color-light, 5%);
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;

                    }

                    /* Style the buttons that are used to open the tab content */
                    .tab button {
                        background-color: inherit;
                        float: left;
                        width: 100%;
                        outline: none;
                        color: white;
                        cursor: pointer;
                        padding: 14px 16px;
                        transition: 0.3s;
                        border: 1px solid $quinary-color;

                    }

                    .tab button:hover {
                        background-color: $quinary-color;
                    }

                    .tab button.active {
                        background-color: $quinary-color;
                    }

                    .inner-inner-inner {
                        margin: 50px;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        align-items: center;
                        justify-content: center;

                        .tabcontent {
                            display: none;
                            padding: 6px 12px;
                            border-top: none;
                            animation: fadeEffect 1s;
                        }



                        .create-new-post {
                            display: flex;
                            flex-direction: column;
                            margin: 20px;

                            input {
                                width: 80%;
                                padding: 10px;
                                margin: 10px;
                                border-radius: 5px;
                                border: 1px solid $secondary-color;
                                background: $main-color;
                                color: $secondary-color;
                                text-align: left;
                            }

                            textarea {
                                width: 80%;
                                padding: 10px;
                                margin: 10px;
                                border-radius: 5px;
                                border: 1px solid $secondary-color;
                                background: $main-color;
                                color:  $secondary-color;
                                text-align: left;
                                max-width: 80%;
                                min-width: 30%;
                                min-height: 20%;
                                max-height: 700px;
                            }

                            button {
                                padding: 10px 20px;
                                border-radius: 10px;
                                border: 2px solid $quinary-color;
                                color: $quinary-color;
                                transition-duration: 0.3s;
                                text-shadow: 0px 0px 4px $quinary-color;
                            }

                            button:hover {
                                background: $quinary-color;
                                color: white;
                            }

                            form {
                                @include flexCenter;
                                flex-direction: column;

                                input[type="submit"] {
                                    padding: 10px 20px;
                                    width: 10%;
                                    border: 2px solid $quinary-color;
                                    color: $quinary-color;
                                    transition-duration: 0.3s;
                                    text-shadow: 0px 0px 4px $quinary-color;

                                    &:hover {
                                        border: 2px solid $quaternary-color;
                                        color: white;
                                        scale: 1.1;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }


        .all-users-container {
            width: 100%;
            height: 70%;
            .all-users {
                @include flexCenter;
                justify-content: start;
                align-items: start;
                flex-wrap: wrap;
                width: 100%;
                .user-overview {
                    margin: 20px;
                    text-align: center;
                    padding: 20px;
                    height: 100px;
                    min-width: 350px;
                    max-width: 350px;
                    border-radius: 5px;
                    border: 2px solid $secondary-color;
                    margin: 50px;
                    color: white;
                    overflow: hidden;
                    transition-duration: 0.5s;

                    .username-container{
                        color: white;
                        text-shadow: 0px 0px 4px $quinary-color;
                        font-size: 2rem;
                        text-transform: capitalize;
                        font-style: italic;
                    }

                    .user-role{
                        color: $quinary-color;
                        text-shadow: 0px 0px 4px $quinary-color;
                        font-size: 1.5rem;
                        text-transform: capitalize;
                        font-style: italic;
                    }

                    .more-information{
                        opacity: 0;
                        transition-duration: 0.2s;

                        a{
                            @include flexCenter;
                            background: $secondary-color;
                            border: 2px solid white;
                            padding: 10px;
                            color: white;
                            border-radius: 10px;
                            transition-duration: 0.2s;
                        }
                        h2:hover{
                            background: $main-color;
                            color: white;
                            cursor: pointer;
                            scale: 1.1;
                        }
                    }

                    &:hover{
                        background: $secondary-color;
                        box-shadow: 0 0 10px 3px $secondary-color;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .main-container-terminal {
        @include flexCenter;
        flex-direction: column;
        color: $secondary-color;
        height: 100vh;
        justify-content: start;

        // Main content when user is logged in
        .main-content-container {
            display: flex;
            justify-content: start;
            align-self: flex-start;
            // Still make the text be written from left to right
            writing-mode: horizontal-tb;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .main-cont-inner-wrapper {
                margin-top: 80px;
                background: $main-color-light;
                border-radius: 5px;
                box-shadow: 0 0 10px 3px $secondary-color;

                .inner-inner {
                    margin: 20px;
                    display: flex;
                    flex-direction: column;
                    background: darken($color: $main-color-light, $amount: 10);

                    .tab {
                        overflow: hidden;
                        background-color: darken($main-color-light, 5%);
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;

                    }

                    /* Style the buttons that are used to open the tab content */
                    .tab button {
                        background-color: inherit;
                        float: left;
                        width: 100%;
                        outline: none;
                        color: white;
                        cursor: pointer;
                        padding: 14px 16px;
                        transition: 0.3s;
                        border: 1px solid $quinary-color;

                    }

                    /* Change background color of buttons on hover */
                    .tab button:hover {
                        background-color: $quinary-color;
                    }

                    /* Create an active/current tablink class */
                    .tab button.active {
                        background-color: $quinary-color;
                    }

                    .inner-inner-inner {
                        margin: 50px;
                        display: flex;
                        flex-direction: column;
                        .tabcontent {
                            display: none;
                            padding: 6px 12px;
                            border-top: none;
                            animation: fadeEffect 1s;
                        }



                        .create-new-post {
                            display: flex;
                            flex-direction: column;
                            margin: 20px;

                            input {
                                width: 80%;
                                padding: 10px;
                                margin: 10px;
                                border-radius: 5px;
                                border: 1px solid $secondary-color;
                                background: $main-color;
                                color: white;
                                text-align: left;
                            }

                            textarea {
                                width: 80%;
                                padding: 10px;
                                margin: 10px;
                                border-radius: 5px;
                                border: 1px solid $secondary-color;
                                background: $main-color;
                                color: white;
                                text-align: left;
                                max-width: 80%;
                                min-width: 30%;
                                min-height: 20%;
                                max-height: 700px;
                            }

                            button {
                                padding: 10px 20px;
                                border-radius: 10px;
                                border: 2px solid $quinary-color;
                                color: $quinary-color;
                                transition-duration: 0.3s;
                                text-shadow: 0px 0px 4px $quinary-color;
                            }

                            button:hover {
                                background: $quinary-color;
                                color: white;
                            }

                            form {
                                @include flexCenter;
                                flex-direction: column;
                            }
                        }
                    }
                }
            }
        }
    }

    .create-account,
    .login {
        background: rgb(0, 0, 0);
        padding: 20px;
        width: 30vw;
        border-radius: 10px;
        height: 50vh;
        box-shadow: 0 0 10px 3px $secondary-color;
        transition-duration: 0.4s;
        @include flexCenter;
        flex-direction: column;

        form {
            @include flexCenter;
            flex-direction: column;
            width: 100%;

            input {
                width: 80%;
                padding: 10px;
                margin: 10px;
                border-radius: 5px;
                border: 1px solid $secondary-color;
                background: $main-color;
                color: white;
                text-align: center;
                transition-duration: 0.4s;
            }

            input:focus {
                border: 1px solid $quaternary-color;
                /* Assuming $quaternary-color is a variable holding the desired color */
                scale: 1.04;
            }

            input[type="submit"] {
                width: 30%;

                &:hover {
                    border: 1px solid $quaternary-color;
                    color: white;
                    scale: 1.1;
                    cursor: pointer;
                }
            }
        }

        a {
            text-decoration: none;
            color: red;
            transition-duration: 0.3s;
            text-shadow: none;
        }
    }

    .create-account:hover,
    .login:hover {
        box-shadow: 0 0 10px 10px $quaternary-color;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 75dvw;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 50px;

    #logoutForm {
        @include flexCenter;
        flex-direction: column;

        input {
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            border: 1px solid $secondary-color;
            background: $main-color;
            color: white;
            text-align: center;
            transition-duration: 0.4s;
        }

        input:hover {
            border: 1px solid $quaternary-color;
            scale: 1.1;
            cursor: pointer;
        }
    }
}

// Other screen sizes
@media screen and (max-width: 1200px) {
    body {
        width: 100vw;

        .main-header {
            position: fixed;
            width: 100vw;
        }

        .artwork-wrapper{
            display: none;
        }

        .main-container{
            .all-users-container{

                .all-users{

                    .user-overview{
                        min-width: auto;
                        margin: 20px;
                        max-width: none;
                    }
                }

                h2{
                    display: none;
                }
                width: 95%;
            }


            .main-content-container{
                .main-cont-inner-wrapper{
                    .inner-inner{
                        .inner-inner-inner{
                            margin: 0px;
                            .create-new-post{
                                form{
                                    input[type="submit"]{
                                        padding: 20px 40px;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    #welcomeText {
        font-size: 1.5rem;
    }

    .fullview-writeup{
        width: 95%;
        text-wrap: wrap;
        .fullview-writeup-inner{
            width: 50%;
            img{
                width: 90%;
            }
        }
    }

    .main-container {
        .main-content-container {
            .main-cont-inner-wrapper {
                .inner-inner {
                    .inner-inner-inner {
                        margin: 0px;
                        #createNewWriteup{
                            width: 100%;
                        }
                        .create-new-post {
                            width: 95%;
                            input {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .create-account,
        .login {
            width: 80vw;

            form {
                input {
                    width: 100%;
                }

                text-align: center;

                p {
                    font-size: 1.1rem;
                }
            }
        }
    }

    .create-account,
    .login {
        width: 80vw;
    }

    footer {
        width: 100vw;
        text-align: center;
    }

    .not-allowed-div {
        width: 80vw;
        text-align: center;
    }

    #terminal-li {
        display: none;
    }
}

@keyframes MovingBorderAnimation {
    0% {
        border: 2px solid $quaternary-color;
    }

    20% {
        border: 2px solid complement($quaternary-color);
    }

    40% {
        border: 2px solid rgb(0, 247, 0);
    }

    60% {
        border: 2px solid $secondary-color;
    }

    80% {
        border: 2px solid $tertiary-color;
    }

    100% {
        border: 2px solid $quaternary-color;
    }
}

@keyframes MovingBorderAnimationBottom {
    0% {
        border-bottom: 2px solid $quaternary-color;
    }

    20% {
        border-bottom: 2px solid complement($quaternary-color);
    }

    40% {
        border-bottom: 2px solid rgb(0, 247, 0);
    }

    60% {
        border-bottom: 2px solid $secondary-color;
    }

    80% {
        border-bottom: 2px solid $tertiary-color;
    }

    100% {
        border-bottom: 2px solid $quaternary-color;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}